.light {
    background-color: #f5f5f5;
    color: #333;
}

.light .copy-btn {
    background-color: #27ae60;
}

.light pre {
    background-color: #ffffff;
    color: #333;
}

.dark {
    background-color: #181818;
    color: #ffffff;
}

.dark .copy-btn {
    background-color: #444;
}

.dark pre {
    background-color: #222222;
    color: #ffffff;
}

.copy-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: 2px solid #888;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.copy-btn:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.copy-btn:active {
    background-color: #333;
    transform: translateY(0);
}

pre {
    position: relative;
    background-color: #222222;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

code {
    font-family: monospace;
    color: #ffffff;
}

.js-keyword {
    color: #9c7bd6;
}

.js-string {
    color: #9cca64;
}

.js-comment {
    color: #5c6690;
}

.js-function {
    color: #9c7bd6;
}

.js-functionName {
    color: #7aa2f7;
}

.js-function-param {
    color: #a8b0d4;
}

.js-conditional {
    color: #9c7bd6;
}

.js-console {
    color: #79a1f5;
}

.js-async {
    color: #ba99f5;
}

.js-fetch-json-log {
    color: #fdc46c;
}

.js-number {
    color: #fb904d;
}

.js-delimiter {
    color: #99bcf3;
}

.js-variable {
    color: #ba99f5;
}


.html-tag {
    color: #e74c3c;
    font-weight: bold;
}

.html-closing-tag {
    color: #e74c3c;
}

.html-string {
    color: #f39c12; /* Orange */
}

.html-comment {
    color: #95a5a6;
    font-style: italic;
}


pre code {
    display: block;
}
.code-line {
    display: flex;
    white-space: pre;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.line-number {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-right: 1em;
    opacity: 0.5;
    text-align: right;
    min-width: 2em;
}
.line-content {
    flex: 1;
}